<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="top">

    <div class="wrapper col1">
        <div id="header">
            <div class="fl_left">
                <p class="site-title">@Html.ActionLink("ClassCloud!", "Index", "Home")</p>
            </div>
            @*<div class="fl_right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>*@
            <br class="clear" />
        </div>
    </div>
    <div class="wrapper col2">
        <div id="topbar">
            <div id="topnav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                </ul>
            </div>

        </div>
         <br class="clear" />
    </div>


    <div id="body">
        @RenderSection("featured", required: false)
        @*<section class="content-wrapper main-content clear-fix">*@
            @RenderBody()
        @*</section>*@
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - ClassCloud: an ASP.NET MVC Application for CS411</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
